# VacationPy
----

### Dependencies and Setup

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

#Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Retrieve weather/city csv from weatherpy
weather_csv = '../WeatherPy/output_data/CleanCityData.csv'

#Create new dataframe
new_df = pd.read_csv(weather_csv)
new_df

,Unnamed: 0,City,Lat,Lng,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
0,0,Novy Urengoy,66.08,76.63,50.77,78,100,25.21,RU,07/16/2020
1,1,Ribeira Grande,38.52,-28.70,68.68,80,89,4.32,PT,07/16/2020
2,2,Ponta Delgada,37.73,-25.67,68.00,72,75,8.05,PT,07/16/2020
3,3,Rikitea,-23.12,-134.97,74.07,87,100,6.85,PF,07/16/2020
4,4,Voyvozh,62.89,54.96,55.18,96,100,7.85,RU,07/16/2020
...,...,...,...,...,...,...,...,...,...,...
533,533,Aleksandrovskiy Zavod,50.92,117.94,79.74,57,98,6.71,RU,07/16/2020
534,534,Gaza,31.50,34.47,73.99,70,2,3.00,PS,07/16/2020
535,535,Port Blair,11.67,92.75,81.05,80,100,8.30,IN,07/16/2020
536,536,Vozhega,60.47,40.22,56.21,98,95,8.39,RU,07/16/2020
537,537,Katobu,-4.94,122.53,84.56,65,62,5.21,ID,07/16/2020

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Set api key to g_key
gmaps.configure(api_key=g_key)

#Set coordinates to lat, lng of dataframe
coordinates = new_df[['Lat','Lng']]

#Set parameters for layout
figure_layout = {
            'width': '700px',
            'height': '500px',
            'border': '1px solid black',
            'padding': '3px',
            'margin': '0 auto 0 auto'
            }

#Create figure from gmaps
fig = gmaps.figure(layout=figure_layout, center = (30,5), zoom_level = 2)

fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='3px', wi…

In [4]:
#Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)

#Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='3px', wi…

In [19]:
#Convert humidity to float, find max humidity
humidity = new_df['Humidity (%)'].astype(float)
max_humidity = max(humidity)

#Create map
fig = gmaps.figure(center = (30,5), zoom_level = 2)

#Create heat layer
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity= max_humidity,
                                 point_radius= 2)

#Add heat layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows with null values.

In [20]:
#Narrow down the DataFrame to find your ideal weather condition.
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Cloudiness equal to 0.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

#Find ideal conditions
ideal_df=new_df.loc[((new_df['Humidity (%)'] > 70) & (new_df['Humidity (%)'] < 80)) & (new_df['Wind Speed (mph)'] < 10)
                   & (new_df['Cloudiness (%)'] == 0)] 

#Drop rows with null values
ideal_df = ideal_df.dropna()
ideal_df

,Unnamed: 0,City,Lat,Lng,Max Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date
22,22,Rocha,-34.48,-54.33,38.43,78,0,5.08,UY,07/16/2020
86,86,Tasiilaq,65.61,-37.64,42.80,75,0,1.12,GL,07/16/2020
97,97,Narsaq,60.92,-46.05,46.40,75,0,5.82,GL,07/16/2020
166,166,Saldanha,-33.01,17.94,42.80,75,0,4.70,ZA,07/16/2020
179,179,Beringovskiy,63.05,179.32,55.53,74,0,5.35,RU,07/16/2020
295,295,Chui,-33.70,-53.46,40.95,75,0,4.09,UY,07/16/2020
517,517,Urucará,-2.54,-57.76,76.32,71,0,1.30,BR,07/16/2020

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
#Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates. 
#Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.
#Identify nearest city for each lat, lng combination

#Create lists for hotel name, hotel lat, and hotel lng
hotel_name = []
h_lat = []
h_lng = []

#Loop through ideal dataframe and search for hotels within 5000 meters of coordinates
for index, row in ideal_df.iterrows():
    target_search = "Hotels"
    target_radius = 5000
    target_type = "hotel"

    #Set up a parameters dictionary
    params = {
        "location":  f"{row['Lat']}, {row['Lng']}",
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
             }

    #Base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #Run a request using our params dictionary
    response = requests.get(base_url, params=params)
    print(response.url)
    
    #Convert response to json
    places_data = response.json()
    
    #Try: pull hotel name, lat, lng
    try:                
        hotel_name.append(places_data['results'][0]['name'])
        h_lat.append(places_data['results'][0]['geometry']['location']['lat'])
        h_lng.append(places_data['results'][0]['geometry']['location']['lng'])
    #print(hotel_name)
    
    except:
        print(f'Hotels not found.')

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-34.48%2C+-54.33&keyword=Hotels&radius=5000&type=hotel&key=AIzaSyC5AmWAnb7uGkpt9IwGj21mtjZyZSAsbqw
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=65.61%2C+-37.64&keyword=Hotels&radius=5000&type=hotel&key=AIzaSyC5AmWAnb7uGkpt9IwGj21mtjZyZSAsbqw
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=60.92%2C+-46.05&keyword=Hotels&radius=5000&type=hotel&key=AIzaSyC5AmWAnb7uGkpt9IwGj21mtjZyZSAsbqw
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.01%2C+17.94&keyword=Hotels&radius=5000&type=hotel&key=AIzaSyC5AmWAnb7uGkpt9IwGj21mtjZyZSAsbqw
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=63.05%2C+179.32&keyword=Hotels&radius=5000&type=hotel&key=AIzaSyC5AmWAnb7uGkpt9IwGj21mtjZyZSAsbqw
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.7%2C+-53.46&keyword=Hotels&radius=5000&type=hotel&key=AIzaSyC5AmWAnb7uGkpt9IwGj21mtjZyZSAsbqw
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-2.54%2C+-57.76&keyword=Hotels&radius=5000&type=hotel&key=AIzaSyC5AmWAnb7uGkpt9IwGj21mtjZyZSAsbqw

In [22]:
#Create a hotel dataframe from results and hotel dictionary
hotel_dict = {'Hotel Name': hotel_name,
              'City': ideal_df['City'],
              'Country': ideal_df['Country'],
              'Lat': h_lat,
              'Lng': h_lng}
hotel_df = pd.DataFrame(hotel_dict)
hotel_df.head()

           Hotel Name          City Country        Lat         Lng
22       Casa Rodo 53         Rocha      UY -34.483518  -54.335788
86      The Red House      Tasiilaq      GL  65.610278  -37.624167
97   Igdlo Guesthouse        Narsaq      GL  60.910123  -46.040429
166    Blue Bay Lodge      Saldanha      ZA -32.995413   17.973140
179      Beringgorski  Beringovskiy      RU  63.065438  179.355123

In [23]:
#NOTE: Do not change any of the code in this cell

#Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
#Store the DataFrame Row
#NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
#Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

#Add the heat layer and markers to the map
fig = gmaps.figure(center = (30,5), zoom_level = 2)
fig.add_layer(heat_layer)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))